.card {
  &:hover {
    filter: drop-shadow(0px 30px 45px rgba(43, 40, 40, 0.6));
    transition: all 0.3s;
  }
  &__inner {
    cursor: pointer;
    width: 325px;
    min-height: 385px;
    background-color: #494544;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__img {
    width: 325px;
    height: 227px;
    margin-bottom: 15px;
  }
  &__main {
    padding: 0 16px 0 20px;
    flex-grow: 1;
  }
  &__bottom {
    padding: 0 16px 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    &-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      color: #FFFFFF;
    }
    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #FFFFFF;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #CFCFCF;
  }
  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }
  &__button {
    display: flex;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    padding: 10px 16px 10px 19px;
    align-items: center;
    &-text {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      margin-right: 12px;
      color: #FFFFFF;
    }
  }
  &__quantity {
    display: flex;
    align-items: center;
  }
  &__quantity-counter {
    margin-left: 13px;
    margin-right: 13px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
  }
  &__quantity-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
  }
  &__quantity-img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: #72A479;
    border-radius: 100%;
  }
}