.navigation {

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 88px 0 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &-text {
      padding: 29px 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #CFCFCF;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}
.active {
  color: #FFFFFF;
  border-bottom: 3px solid #618967;
}