.navigation {
  &__inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__list {
    width: 1440px;
    justify-content: center;
    display: flex;
  }
  &__text {
    margin: 0 30px;
    padding: 29px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #CFCFCF;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;
    }
  } 
}
.active {
  color: #FFFFFF;
  border-bottom: 3px solid #618967;
}