@import './components/header';
@import './components/navigation';
@import './components/footer';
@import './components/menu';
@import './components/card';
@import './components/info';
@import './components/promotions';
@import './components/product';
@import './components/product-card';
@import './components/cart';
@import './components/cart-item';
@import './components/cart-total';
@import './components/error-block';
@import './components/loading-block';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: #403C3B;
}

a {
  text-decoration: none;
}